<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{plantel.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr style=" border-top: 3px solid rgb(0, 0, 0); width:60%;">
  <hr style=" border-top: 2px solid rgb(0, 0, 0); width:40%;">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align: center; ">

        <img *ngIf="plantel.crestUrl != null" src={{plantel.crestUrl}} alt=""
          style="margin: 0 auto; height: 90px; width: 80px;">
        <img *ngIf="plantel.crestUrl == null" src="assets/aves.png" alt=""
          style="margin: 0 auto; height: 90px; width: 80px;">
      </ion-col>
      <ion-col style="text-align: center;  ">
        <h2 class="display-6">{{plantel.name}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr style=" border-top: 2px solid rgb(0, 0, 0); width:40%;">
  <hr style=" border-top: 3px solid rgb(0, 0, 0); width:60%;">
  <hr style=" border-top: 4px solid rgb(0, 0, 0); width:80%;">
  <hr style=" border-top: 5px solid rgb(0, 0, 0)">
  <ion-grid>
    <ion-row style=" width: 98%;    text-align: center;    margin: auto;">
      <ion-col style="border:solid ;  border-style: double;"><b>Destalhes</b>
      </ion-col>
    </ion-row>
    <ion-row style="   width: 98%;    text-align: center;    margin: auto;">
      <ion-col style="border:solid ;  border-style: groove; border-right-style: inset; "><b>País</b></ion-col>
      <ion-col style="border:solid;     border-style: groove; border-left-style: outset;">{{plantel.area.name}}
      </ion-col>
    </ion-row>
    <ion-row style="   width: 98%;    text-align: center;    margin: auto;">
      <ion-col style="border:solid ;  border-style: groove; border-right-style: inset; "><b>Estádio</b></ion-col>
      <ion-col style="border:solid;     border-style: groove; border-left-style: outset;">{{plantel.venue}}</ion-col>
    </ion-row>
    <ion-row style="   width: 98%;    text-align: center;    margin: auto;">
      <ion-col style="border:solid ;  border-style: groove; border-right-style: inset; "><b>Cores</b></ion-col>
      <ion-col style="border:solid;     border-style: groove; border-left-style: outset;">{{plantel.clubColors}}
      </ion-col>
    </ion-row>
    <ion-row style="   width: 98%;    text-align: center;    margin: auto;">
      <ion-col style="border:solid ;  border-style: groove; border-right-style: inset; "><b>Localização</b></ion-col>
      <ion-col style="border:solid;     border-style: groove; border-left-style: outset;">{{plantel.address}}</ion-col>
    </ion-row>
    <ion-row style="   width: 98%;    text-align: center;    margin: auto;">
      <ion-col style="border:solid ;  border-style: groove; border-right-style: inset; "><b>Fundação</b></ion-col>
      <ion-col style="border:solid;     border-style: groove; border-left-style: outset;">{{plantel.founded}} </ion-col>
    </ion-row>
    <ion-row style="   width: 98%;    text-align: center;    margin: auto;">
      <ion-col style="border:solid ;  border-style: groove; border-right-style: inset; "><b>Competições</b></ion-col>
      <ion-col style="border:solid;     border-style: groove; border-left-style: outset;">
        <p>{{plantel.activeCompetitions[0].name}} </p>
        <p>{{plantel.activeCompetitions[1].name}}</p>
        <p> {{plantel.activeCompetitions[2].name}}</p>
        <p>{{plantel.activeCompetitions[3].name}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr style=" border-top: 5px solid rgb(0, 0, 0)">
  <hr style=" border-top: 4px solid rgb(0, 0, 0); width:80%;">
  <hr style=" border-top: 3px solid rgb(0, 0, 0); width:60%;">
  <hr style=" border-top: 2px solid rgb(0, 0, 0); width:40%;">
  <br>
  <h2 style="text-align:center "> Treinador</h2>
  <ion-grid>
    <ion-row>
      <div *ngFor="let  player of plantel.squad" style="width: 85%; margin: auto;">
        <ion-col *ngIf="player.role == 'COACH'" style="margin-bottom: 2%;  ">
          <ion-card style="background-color: #f1f1f19e; border: solid; ">
            <img src={{getImagem(player.id)}} width="30%"
              style="margin: 0 auto;     height: 150px;              width: 100px;">
            <h5 style="text-align: center; color: rgb(0, 0, 0); padding-top: 10px;">{{player.name}}</h5>
            <P style="text-align: center; color: rgb(0, 0, 0); padding-top: 10px;">{{player.nationality}}</P>
            <p style="text-align: center; color: rgb(0, 0, 0); padding-top: 10px;">age: {{getIdade(player.dateOfBirth)}} </p>
          </ion-card>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
  <h2 style="text-align:center "> Plantel</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let  player of plantel.squad">
        <div *ngIf="player.role == 'PLAYER'" style="margin-bottom: 2%; ">
          <ion-card style="background-color: #f1f1f19e; height: 270px; border: solid;">
            <img src={{getImagem(player.id)}} width="30%"
              style="margin: 0 auto;     height: 100px;              width: 70px;">
            <h6 style="text-align: center; color: rgb(0, 0, 0);"><b>{{player.name}}</b></h6>
            <h5 style="text-align: center; color: rgb(0, 0, 0); "><b>{{player.shirtNumber}}</b></h5>
            <p style="text-align: center; color: rgb(0, 0, 0); ">{{player.position}}</p>
            <P style="text-align: center; color: rgb(0, 0, 0); ">{{player.nationality}}</P>
            <h6 style="text-align: center; color: rgb(0, 0, 0); ">Age:
              {{getIdade(player.dateOfBirth)}}</h6>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>