<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr style=" border-top: 3px solid rgb(0, 0, 0); width:90%;">
  <hr style=" border-top: 2px solid rgb(0, 0, 0); width:40%;">
  <h1 class="display-11" style="text-align: center;  padding-top: 15px;">Competições</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="6" style="text-align: center; ">
        <ion-card routerLink="/ppl" style="background-color: #f1f1f19e; height: 300px;      border: solid;">
          <img src="assets/LigaNos.png" style="margin: auto; width: 95px;          height: 125px;">
          <h6>Campeão</h6>
          <h3 style="color: black"><b>{{pl.seasons[1].winner.name}}</b></h3>
          <p>2018/2019</p>
        </ion-card>
      </ion-col>
      <ion-col size="6" style="text-align: center;  ">
        <ion-card routerLink="/ucl" style="background-color: #f1f1f19e;  height: 300px;      border: solid;">
          <img src="assets/ucl.png" style="margin: auto;  height: 125px;">
          <h6>Campeão</h6>
          <h3 style="color: black"><b>{{cl.seasons[1].winner.name}}</b></h3>
          <p>2018/2019</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr style=" border-top: 3px solid rgb(0, 0, 0); width:60%;">
  <hr style=" border-top: 2px solid rgb(0, 0, 0); width:40%;">
  <h1 class="display-11" style="text-align: center;  padding-top: 15px;">Comentários</h1>

  <div *ngFor="let  coment of comentarios">
    <ion-card>
      <ion-card-header>
        {{coment.autor}}
      </ion-card-header>
      <ion-card-content>
        {{coment.comentario}}
      </ion-card-content>
    </ion-card>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Comente!</ion-label>
          <ion-input [(ngModel)]="com"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-button color="dark" style=" height: 100%;" (click)="addc()">
          Adicionar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>