<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Uefa Champions League
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-content>
        <ion-grid style="text-align: center">
          <ion-row>
            <ion-col>
               <img src="assets/ucl.png" alt="" style="margin: 0 auto; width: 100px; height: 105px;">
            </ion-col>
          </ion-row>
        </ion-grid>
  
<ion-grid>

  <ion-row>

    <ion-col size="6" *ngFor="let  equipa of equipas.teams">
      <ion-card routerLink="/team/{{equipa.id}}" style="background-color: #f1f1f19e;           min-height: 230px;      border: solid;">
        <img src="{{equipa.crestUrl}}" width="30%" style="margin: 0 auto; margin-top: 20px; max-width: 50px;
        max-height: 50px;"
         >
        <h5 style="text-align: center; color: rgb(0, 0, 0); padding-top: 10px;"><b>{{equipa.name}}</b></h5>
        <h6 style=" text-align: center; color: rgb(0, 0, 0);">{{equipa.clubColors}}</h6>
        <h6 style=" text-align: center; color: rgb(0, 0, 0);">{{equipa.venue}}</h6>

      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>
</ion-content>