<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Competições
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list>
      <ion-item routerLink="/ppl" >
      <div class="item-note" slot="start">
        <ion-icon icon="football" ></ion-icon>
        Liga NOS
      </div>
    </ion-item>
    <ion-item routerLink="/ucl" >
        <div class="item-note" slot="start">
          <ion-icon icon="football"></ion-icon>
          Uefa Champions League
        </div>
      </ion-item>
  </ion-list> 
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>